PORT=3777
BACKUP_DIR=./backups
DATA_DIR=./data
ENCRYPTION_KEY=your-secret-encryption-key-here
API_KEY=

# Storage Configuration
# local or s3
STORAGE_PROVIDER=local

# S3 Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_S3_BUCKET=your-bucket-name
# Optional, useful for MinIO, DigitalOcean Spaces, etc.
# AWS_ENDPOINT=http://minio:9000 ou http://localhost:9020
